In [1]:
import pandas as pd

bd_weather = pd.DataFrame({
    'city' : ['Dhaka', 'Khulna', 'Cumilla'],
    'temperature' : [34, 37, 27]
})
bd_weather

      city  temperature
0    Dhaka           34
1   Khulna           37
2  Cumilla           27

In [2]:
usa_weather = pd.DataFrame({
    'city' : ['Chicago', 'Atlanta', 'Wisconsin'],
    'temperature' : [15, 37, 28]
})
usa_weather

        city  temperature
0    Chicago           15
1    Atlanta           37
2  Wisconsin           28

In [3]:
df = pd.concat([bd_weather, usa_weather], ignore_index = False, keys = ["bd", "usa"])
df

            city  temperature
bd  0      Dhaka           34
    1     Khulna           37
    2    Cumilla           27
usa 0    Chicago           15
    1    Atlanta           37
    2  Wisconsin           28

In [4]:
df.loc["bd"]

      city  temperature
0    Dhaka           34
1   Khulna           37
2  Cumilla           27