In [1]:
import pandas as pd

In [2]:
weather_data = pd.read_csv("Datasets/lec02_weather_data.csv")

In [4]:
weather_data

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [6]:
animals = {
    'name' : ["Tiger", "Eagle", "Elephant"],
    'legs' : [4, 2, 4]
}

data = pd.DataFrame(animals)
data

       name  legs
0     Tiger     4
1     Eagle     2
2  Elephant     4

In [7]:
data.shape

(3, 2)

In [8]:
weather_data.shape

(6, 4)

In [9]:
rows, columns = data.shape
print(rows)

3

In [10]:
weather_data.tail(2)

        day  temperature  windspeed  event
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [11]:
weather_data[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [12]:
weather_data.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [13]:
weather_data['day'] # weather_data.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [14]:
type(weather_data['day'])

pandas.core.series.Series

In [15]:
weather_data[['day', 'temperature', 'windspeed']]

        day  temperature  windspeed
0  1/1/2017           32          6
1  1/2/2017           35          7
2  1/3/2017           28          2
3  1/4/2017           24          7
4  1/5/2017           32          4
5  1/6/2017           31          2

In [16]:
weather_data['temperature'].std()

3.8297084310253524

In [17]:
weather_data.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [18]:
weather_data[weather_data.temperature>=32]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [19]:
weather_data[['day', 'temperature']][weather_data.temperature == weather_data.temperature.min()]

        day  temperature
3  1/4/2017           24

In [20]:
weather_data.set_index('day', inplace = True)

In [21]:
weather_data

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [22]:
weather_data.loc['1/4/2017']

temperature      24
windspeed         7
event          Snow
Name: 1/4/2017, dtype: object

In [23]:
weather_data.reset_index(inplace = True)

In [25]:
weather_data

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny