In [2]:
import pandas as pd
data = pd.read_csv("Datasets/lec03_weather_data.csv")# read_excel(".....xlsx", "Sheet 1") can be used for xlsx file
data

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [3]:
# dictionary
animals = {
    'name' : ["Tiger", "Eagle", "Elephant"],
    'legs' : [4, 2, 4]
}

data = pd.DataFrame(animals)
data

       name  legs
0     Tiger     4
1     Eagle     2
2  Elephant     4

In [5]:
# tuple
animals = [
    ("Tiger", 4),
    ("Eagle", 2)
    ]
data = pd.DataFrame(animals, columns = ["Animals", "Legs"])
data

  Animals  Legs
0   Tiger     4
1   Eagle     2