In [4]:
import pandas as pd
df = pd.read_csv("Datasets/lec04_stock_data.csv",
                 na_values = {
                     'eps': ["not available", "n.a."],
                     'revenue': ["not available", "n.a.", -1],
                     'price' :["not available", "n.a."],
                     'people': ["not available", "n.a."]
                 }
                )
df

 #header = None, names = ["Sticker", "EPS", "Revenue", "Prize", "People"])

  tickers    eps  revenue   price         people
0   GOOGL  27.82     87.0   845.0     larry page
1     WMT   4.61    484.0    65.0            NaN
2    MSFT  -1.00     85.0    64.0     bill gates
3    RIL     NaN     50.0  1023.0  mukesh ambani
4    TATA   5.60      NaN     NaN     ratan tata

In [7]:
df.to_csv("Datasets/lec04_output_data1.csv", index = False)

In [6]:
df.columns

Index(['tickers', 'eps', 'revenue', 'price', 'people'], dtype='object')

In [8]:
df.to_csv("Datasets/lec04_output_data2.csv", columns = ['tickers', 'eps', 'revenue'], index = False)

In [9]:
df.to_csv("Datasets/lec04_output_data3.csv", index = False, header = False)

In [ ]:
# df.read_excel("new_data.xlsx", sheet_name = "Stock", index = False